<div class="app-form-create__form">
    <h2 class="app-form-create__form-name">Form New Client</h2>

    <md-input-container>
        <input color="primary" class="app-form-create__form-input" id="name" type="text" name="name" value="" [(ngModel)]="name" mdInput placeholder="Name">
    </md-input-container>

    <div class="app-form-create__form-attention" [class.app-form-create__form-attention_hidden]="hiddenAttention" [class.app-form-create__form-attention_visible]="showAttention">*required field</div>
    <br>

    <md-input-container>
        <input color="primary" class="app-form-create__form-input" id="phone" type="text" name="phone" value="" [(ngModel)]="phone" mdInput placeholder="Phone">
    </md-input-container>


    <br>
    <md-input-container>
        <input color="primary" class="app-form-create__form-input" id="address" type="text" name="address" value="" [(ngModel)]="address" mdInput placeholder="Address">
    </md-input-container>
    <br>


    <md-input-container>
        <input color="primary" class="app-form-create__form-input" id="email" type="text" name="email" value="" [(ngModel)]="email" mdInput placeholder="Email">
    </md-input-container>
    <br>

    <div class="app-form-create__forma-button-conteiner">

        <button md-raised-button class="app-form-create__form-button app-form-create__form-button_green" (click)="createClient()">
           <i class="material-icons">check_circle</i>
                 <span>Create</span>
            </button>

        <button md-raised-button class="app-form-create__form-button app-form-create__form-button_red" (click)="clearForm()">
            <i class="material-icons">delete_forever</i>
                 <span>Clear Form</span>
            </button>
    </div>
</div>