<div class="app-search__conteiner">

    <md-input-container>
        <input color="primary" id="search" class="app-search__input" type="text" name="search" value="" [(ngModel)]="searchName" mdInput placeholder="Search">
    </md-input-container>

    <div class="app-search__button-conteiner">

        <button md-raised-button class="app-search__button app-search__button_green" (click)="search()">
           <i class="material-icons app-search__icon ">find_in_page</i>
                 <span>Search</span>
            </button>

        <button md-raised-button class="app-search__button app-search__button_blue" *ngIf="searchState == 'search'" (click)="returnBase()">
           <i class="material-icons app-search__icon ">find_in_page</i>
                 <span>Return</span>
            </button>

    </div>
</div>